/* 
    Created on : 22 Oct, 2016, 1:25:38 AM
    Author     : Subrata Mallik
*/

/* Basic css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
body,html,ui,li,a,input,label,p,.form-control{
	font-family: 'Open Sans', sans-serif !important; font-weight: 400;font-size: 13px;
}
body{background: #fff;}
a,a:hover{color: #505050;cursor: pointer;text-decoration: none;}
.uc{text-transform: uppercase;}.lc{text-transform: lowercase;}
.w50{width: 50px !important;}.w75{width: 75px !important;}.w100{width: 100px !important;}.w125{width: 125px !important;}.w150{width: 150px !important;}
.w175{width: 175px !important;}.w200{width: 200px !important;}.w225{width: 225px !important;}.w250{width: 250px !important;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {cursor: default;}
.btn{text-transform: uppercase;font-weight: 600;border-radius: 0px;}
.vm{vertical-align: middle !important;}

/* Navbar */
.form-control {
  border-radius: 0;
  box-shadow: none;
}
.navbar-brand {
  float: left;
  font-size: 19px;
  height: 50px;
  line-height: 21px;
  padding: 0.5px 15px;
}
.navbar-brand img{
height: 35px;
    margin: 5px 0 0;
}

.navbar {
  border-radius: 0;
}
.navbar-default {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #fff;
  color: #1FA046;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #1FA046;
  color: #ffffff;
}
.navbar-form .form-control {
   
}

.navbar-nav > li > a {
    font-size: 15px;
}


/* below navbar */
.alert {
  border-radius: 0; 
}
.panel {
  border-radius: 0;
}
.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading {
  font-size: 15px;
  font-weight: 600;
}
.badge {
  background-color: #1fa046;
}
.panel > .list-group, .panel > .panel-collapse > .list-group {
  margin-bottom: 0;
  max-height: 396px;
  overflow-y: auto;
}
.page-header {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 15px;
  padding-bottom: 9.5px;
}
.page-header h1, 
.page-header .h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #7d7d7d;
}
/* owl slider */
#owl-demo .item{margin: 3px;}
#owl-demo .item img{display: block;width: 100%;height: auto;}
.thumbnail { border-radius: 0;height: 265px;text-align: center; box-shadow: 0px 0px 2px #f2f2f2; border: 1px dashed #eeeeee; }
.thumbnail img {
  height: 150px !important;
}
.thumbnail .title{ font-size: 15px;text-align: left;height: 50px;}
.thumbnail .pric,
.thumbnail .pric{ font-size: 17px;font-weight: 600; color: #dd3d00;}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  font-size: 12px;font-weight: 600; color: #1fa046;text-transform: uppercase;
}
.owl-pagination { height: 0px;}
.owl-buttons {
  margin: -12px 0 0;
  padding: 0 10px;
  text-align: center;
  z-index: 1001;position: relative;
}
.items{
	padding: 3px 17px 0px 3px;
}

/* Footer */
footer{
	background: #EBEBEB;margin: 60px 0px 0px 0px;
}
.footertop h4{
	text-transform: uppercase;border-bottom: 1px solid #BEBEBE;padding: 2px 0px 5px 0px;
}
.footertop a{
	display: block;
}
footer .footer03{
	margin: 20px 0px;font-size: 12px;color: #969696;
}
footer .footer04{
	margin: 20px 0px;font-style: italic;font-size: 12px;color: #969696;
}
.footer05{
	border-top: 1px solid #BEBEBE;padding: 20px 0px 20px 0px;color: #707070;
}

/* Details page */
.prodetimage{
	text-align: center;padding: 30px 0px 0px 0px;
}
.oprice{
	font-size: 20px;color: #1fa046;font-weight: 600;
}
.postmeta span{
	text-transform: capitalize;
}
.relatedproduct{
	margin: 20px 0px 0px 0px;
}

/* cart page */
.carttable thead tr th{
	background: #006CC7;color: #fff;
}
.carttable td{
	vertical-align: middle !important;
}
.cart-footer{
	background: #fff !important;
}



.panelcustom .panel-default > .panel-heading {
  color: #333;
}
.panel.panelcustom .panel-heading {
  padding: 4px 15px;background-color: #fff;
}
.panel.panelcustom .panel-default {
  border-color: #fff !important;
}
.panel.panelcustom {
  box-shadow: none;border: none;border-color: none;
}
.panelcustom .list-group-item {
  border: none;padding: 5px 15px;
}
.panelcustom .list-group-item input{
	top: 2px;position: relative;
}
.cartinfo .panel-body p{
	font-size: 20px;font-weight: 600;
}
.cartinfo .badge {
  border-radius: 0;
  font-size: 21px;
  font-weight: 700;
  padding: 5px 12px 6px 10px;
  background: #006CC7;
}

.laddn{
	font-size: 25px;text-align: center;margin: 50px auto 0px auto;width: 500px;
}
.nodata{
	text-align: center;font-size: 30px;padding: 50px;color: #b2b2b2;
}
.clear{
	clear: both;
}

.container.wrapper{
	min-height: 400px;
}
.navbar-form {
  margin-left: 98px;
}